click==8.2.1
executing==2.2.0
gitdb==4.0.12
GitPython==3.1.44
matplotlib-inline==0.1.7
numpy==2.0.0
opencv-python-headless
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.2.1
pipreqs==0.5.0
pylibdmtx==0.1.10
pyserial==3.5
pytesseract==0.3.13
python-barcode==0.15.1
pytz==2025.2
pyzbar==0.1.9
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
stack-data==0.6.3
streamlit==1.45.1
zxing-cpp==2.3.0
